
.ss-prop-card {
  //@include rounded();

  --card-width: 100%;
  --img-height: 225px;
  border: 1px solid $body-color;



  width:var(--card-width);

  &--popup {
    --card-width: 120px;
    --img-height: var(--card-width);
  }

  &__img {
    position: relative;
    width: var(--card-width);
    height: var(--img-height);
    cursor: pointer;
    margin-bottom: 0.25rem;
    //overflow: hidden;

    img:hover {
      //@include image-hover-grow();
    }
    //@include rounded();
  }

  &__mls{
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0.8;
    background-color: white;
    color: black;
    font-size: 0.7rem;
    padding: 0.25rem;
    font-style: italic;
  }

  &__brokerage{
    position: absolute;
    bottom: -0.4rem;
    right: 0;
    color: white;
    background-color: black;
    opacity: 0.8;
    font-size: 0.7rem;
  }

  &__content {
    font-size: 0.6875rem;
    color: black;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;

    position: relative;
    
    div, span {
      @include dot-text-overflow();
    }
  }

  /*&__date {
    font-style: italic;
    margin-right: 0.25rem;
  }*/

  &__address {
    color: $dark-grey;
  }

  &__map-btn {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 0.25*$spacer;
    border: 1px solid $body-color;
    color: $body-color;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #ebf0f7;
  }

  &__essentials {    
    font-size: $font-size-sm;
    //color: $body-color;
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 0.3125rem;
    //color: #ff6d00;
  }
  &__price-psf {
    font-style: italic;
    margin-left: 0.3125rem;
    /* text-decoration: underline; */
    //color: #212529;
    //background-color: #eee;
    border-radius: 2px;
    padding: 0.125rem;
  }


  &:focus {
    //outline: none;
    border: 3px solid rgba(56, 17, 17, 0.5);


    animation: pulse 0.5s 6;
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      }
      70% {
          -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 68, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
      }
      70% {
          -moz-box-shadow: 0 0 0 10px rgba(235, 17, 17, 0);
          box-shadow: 0 0 0 20px rgba(204, 44, 44, 0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
          box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
      }
    }
   } 
}

.ss-prop-selection-section {


  --bg-color: #{$primary-color-shade};
  --text-color: white;

  &--light {
    --bg-color: #{$primary-bg-light};
    --text-color: black;
  }

  background-color: var(--bg-color);
  color: var(--text-color);
  //padding: 4*$spacer 2*$spacer;
  text-align: center;

  &__q {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    //font-size: 1.7rem;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 5px;
    padding:0.25rem;
  }
}