
.s-admin-sidebar {

    //width: 15*$spacer;
    background-color: #050607;    

    menu > li {
        color: $grey;
        
        & > a {
            //font-size: #{$font-size-lg};
            padding-top: $spacer;

            &:hover {
                background-color: black;
                color: white;
                transition: 0.5s;
            }

            & > i {
                //font-size: 1.5rem;
                padding-right: $spacer;        
            }
        }
    }

    header {
        //background-color: #09f;
        color: white;
        font-size: #{$font-size-lg};
        padding: $spacer 0 0 1.5*$spacer;
        font-weight: bold;
    }
}