/* main header
============================ */
.s-main-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__logo {
    img {
      width: unset;
      height: unset;
    }

    a, p {
      color: $primary-color;
    }

  }

  &__left-nav {
    margin-left: 3rem;
  }

  &__right-nav {
    margin-left: auto;
  }

  menu > li > a {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 0.9rem;

    &:hover {
      font-size: $font-size-base;
    }

    &.active {
      border-bottom: unset;
      color: $body-color;
      &:hover {
        font-size: 0.9rem;
      }
    }
  }

  &--dark {
    background-color: $primary-color;

    menu > li > a {
      color: white;
      &:hover {
        color: $primary-color-shade;
        font-size: $font-size-base;
      }
    }

  }

  &--dark &__logo {
    a,p {
      color: white;
      font-size: $font-size-lg;
    }
  }



  &--no-shadow {
    box-shadow: unset;
  }
}