/* main header
============================ */
.s-main-header {

  // css variables to build the header from
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  //--box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --text-color: #{$primary-color};
  --bg-color: transparent;

  // main body styles
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);

  // Modifiers:

  &--dark {
    --text-color: white;
    --bg-color: #{$primary-color-shade};
  }
  &--no-shadow {
    --box-shadow: unset;
  }
  &--narrow {
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
  }

  // Elements:

  &__logo {
    img {
      width: unset;
      height: 55px;
    }

    a, p {
      //color: var(--text-color);
      font-size: 2rem;
      font-weight: 900;

      background: #3F48CC;
      /*background: -webkit-linear-gradient(to right, #3F48CC 50%, #dc3545 100%);
      background: -moz-linear-gradient(to right, #3F48CC 50%, #dc3545 100%);*/
      background: linear-gradient(to right, #3F48CC 40%, #dc3545 80%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;


    }
  }

  &__left-nav {
    margin-left: 3rem;
  }

  &__right-nav {
    margin-left: auto;
  }

  menu > li > a {
    color: $body-color;
    //text-transform: uppercase;
    font-weight: 300;
    //color: $body-color;
    font-size: $font-size-sm;

    

    &.active {
      border-bottom: unset;
      color: $grey;      
    }
  }

  button {
    font-size: $font-size-sm;
  }

}