
.s-page-header {

    // css variables for this component
    --box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 1px 3px 0 rgba(0,0,0,0.08);
    --text-color: black;
    --bg-color: white;

    height: 3.5*$spacer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    box-shadow: var(--box-shadow);
    color: var(--text-color);
    background-color: var(--bg-color);

    // modifiers
    &--no-shadow {
        --box-shadow: none;
    }

    &--dark {
        --text-color: white;
        --bg-color: #{$primary-color};
    }

    &__title {

        @include center(true, true);

        img {
            width: 120px;
            height: auto;
        }
        h1 {
            font-size: $font-size-lg;
            color: var(--text-color);
            font-weight: $font-weight-bolder;
        }
    }

    menu {
        li {
            font-size: $font-size-lg;

            a, button {
                font-weight: $font-weight-normal;
                color: var(--text-color);
                i {
                    //font-size: 2*$font-size-sm;
                }
            }
        }
    }

    &__right-menu {
        margin-left: auto;
    }

}

.s-profile-header {

    padding: $spacer 0;
    display: flex;
    align-items: center;
    background-color: $primary-color;

    @include container;

    &__avatar {
        // profile img
        img {
            width: 45px;
            height: 45px;
            border: 2px solid white;
            border-radius: 50%;
            margin-right: $spacer;
        }
    }

    &__title {
        min-width: 0; // this is for text-truncate

        // profile name
        h2 {
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            color: white;

            @include text-truncate();
        }
        // profile location
        p {
            font-size: $font-size-base;
            color: $light-grey;
            opacity: 0.5;
        }
    }

    &__menu {
        margin-left: auto;

        menu {
            //flex-flow: nowrap;
        }
        
        // menu links
        menu > li > button {
            //font-weight: $font-weight-bold;
            //font-size: $font-size-lg;
            color: white;
            padding-right: 0rem;
        }
        // close icon
        menu > li > button > i {
            font-size: 2rem;
            opacity: 0.5;
            color: white;
        }
    }
}