.s-ibox-col{

  --height: 100%;

  padding: 0 2rem 2rem;
  border: solid 1px $light-grey;
  border-radius: 5px;
  height: var(--height);

  &--stack {
    --height: auto;
  }

  h2 {
    margin-bottom: 0.25rem;
  }

  &__icon {
    margin: auto;
    background-color: #fff;
    width: 4rem;
    height: 4rem;
    display:flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: solid 1px $primary-color;
    margin-top: -2rem;
    color: $primary-color;
    font-size: 1.25rem;
  }

  &__content {
    text-align: center;
    font-weight:300;
    padding-top: 1rem;
  }
}
