
.s-icircle {    
    --circle-radius: 12.5rem;
    --circle-color: #{$primary-color};
    --circle-color-hover: #{shift-color($primary-color, 20%)};
    --icon-size: 5rem;
    --font-size: 1.5rem;
    --text-color: white;
    --box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: var(--circle-radius);
    height: var(--circle-radius);
    border-radius: 50%;
    background-color: var(--circle-color);
    color: var(--text-color);
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.3);//var(--box-shadow);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        background-color: var(--circle-color-hover);
        transform: scale(1.1);
    }
    
    &__icon {
        i {
            font-size: var(--icon-size);
        }

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
            animation: init 0.2s ease-in-out;
            @keyframes init {
                from { width: 1rem; }
                to   { width: calc(var(--icon-size)); }
            }
        }
    }
    
    h2 {
        font-size: var(--font-size);
        color: var(--text-color);
        transition: font-size 0.2s ease-in-out;
    }

    &:hover h2 {
        font-size: calc(1.2*var(--font-size));
    }
   
    &--sm {
        --circle-radius: 8rem;
        --font-size: 1rem;
    }

    &--light {
        --circle-color: white;
        --circle-color-hover: #{$light-grey};
        --text-color: #{$primary-color};
    }
}