
$modal-sm:                          300px;
$modal-md:                          500px;
$modal-lg:                          800px;
$modal-xl:                          1140px;
$modal-xxl:                         1200px;

mo-dal {

  &:not(:defined) {
    display: none;
  }

  --align-x: center;
  --margin-top: #{3*$spacer};
  --open-animation: fade-in 0.4s ease-in-out;
  --close-animation: fade-out 0.4s ease-in-out;

  --content-width: #{$modal-md};

  &.s-modal--sm {
    --content-width: #{$modal-sm};
  }

  &.s-modal--md {
    --content-width: #{$modal-md};
  }

  &.s-modal--lg {
    --content-width: #{$modal-lg};
  }

  &.s-modal--xl {
    --content-width: #{$modal-xl};
  }

  &.s-modal--xxl {
    --content-width: #{$modal-xxl};
  }

  &.s-modal--fl {
    --margin-top: 0;
    --content-width: 100vw;
    --min-content-height: 100vh;
    --open-animation: slide-in-bottom 0.4s ease-in-out;
    --close-animation: slide-out-bottom 0.4s ease-in-out;
  }

  & > * {
    background-color: white;
    //padding: $spacer;
    width: var(--content-width);
    min-height: var(--min-content-height, 0);
    padding: 1.5*$spacer;
  }

}

.modal-header {

  display: flex;

  border-bottom: 1px solid $grey;
  padding-bottom: 0.5*$spacer;

  .close {
    display: block;
    margin-left: auto;
    font-size: 1.8rem;
    color: #dc4f4f;
  }

}

.s-popup-wrapper {

  position: relative;
  overflow: visible;
  background-color: transparent;

  &__close {

    position: absolute;
    top: -1px;
    right: 5px;

    

    button {
      width: unset;      
      font-size: #{$font-size-h1};

       i {
        color: #090a26;
        //background-color: white;        
       }

    }

  }

  

}
