
.ss-content-title-sec {
  height: 320px;
  position: relative;

  &__title {
    @include overlay(3);
    h1 {
      font-size: 4rem;
      color: white;
      @include center(true, false);
      text-align: center;
      width:100%;
    }
  }

  &__shade {
    @include overlay(2);
    background-color: rgba(black, 0.35);
  }

  &__img {
    @include overlay(1);
  }

}