
.s-stepper {
  text-align: center;
  width: 100%;
  
  & > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;

    & > li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > label {
        height: 2 * $spacer;
        width: 2 * $spacer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $light-grey;
        color: $grey;
        border-radius: 50%;
        margin-bottom: 0.5 * $spacer;
        z-index: 1;
        font-size: $font-size-base;
      }
      & > p {
        color: $grey;
        font-size: $font-size-sm;
        font-weight: 300;
      }
      /*&:after {
        position: absolute;
        content: "";
        width: 100%;
        background: $light-grey;
        height: 2px;
        left: 0;
        top: 25%;
        z-index: 0;
      }*/
    }

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      background: $light-grey;
      height: 2px;
      left: 0;
      top: $spacer;
      z-index: 0;
    }

    .active {
      & > label {
        background: $primary-color;
        color: white;
      }
      & > p {
        color: $primary-color;
      }
      
    }
  }
}
